<ion-content>
  <div class="logo">

  </div>
  <form  [formGroup]="loginForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-input type="text" name="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" name="password" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-button color="danger">Entrar</ion-button>
    <p>
      <a [routerLink]="['/forget-password']">Esqueci a minha senha >></a>
      <br />
      <br />
      <a [routerLink]="['/create-user']">Cadastrar-se >></a>
    </p>
  </form>
</ion-content>