<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <!-- I, as Willarts, want my professional user has name,
    email, code, birthday, profile Image, zipcode, address and the professional type. 
    And a list of clients -->
    <ion-avatar id="avatar" >
      <ion-icon (click)="selectedPhoto()" name="camera">
      </ion-icon>
      <!-- <ion-input id="profile-file"  type="file" formControlName="profileImage"></ion-input> -->
    </ion-avatar>

    <ion-item>
      <ion-input formControlName="name" inputmode="text" type="text" placeholder="Nome Completo"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.name">
      <ng-container *ngIf="nameCtrl.hasError(error.type) && (nameCtrl.dirty || nameCtrl.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-input formControlName="email" inputmode="email" type="email" placeholder="E-mail"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.email">
      <ng-container *ngIf="emailCtrl.hasError(error.type) && (emailCtrl.dirty || emailCtrl.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-input formControlName="password" inputmode="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf="passwordCtrl.hasError(error.type) && (passwordCtrl.dirty || passwordCtrl.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>


    <ion-item>
      <ion-input formControlName="code" inputmode="text" type="text" placeholder="CPF"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.code">
      <ng-container *ngIf="codeCtrl.hasError(error.type) && (codeCtrl.dirty || codeCtrl.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Data de Nascimento</ion-label>
      <ion-input formControlName="birthday" inputmode="date" type="date" placeholder="Data de Nascimento"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.birthday">
      <ng-container *ngIf="birthdayCtrl.hasError(error.type) && (birthdayCtrl.dirty || birthdayCtrl.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-input formControlName="zipcode" inputmode="text" type="text" placeholder="CEP"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.zipcode">
      <ng-container *ngIf="zipcodeCtrl.hasError(error.type) && (zipcodeCtrl.dirty || zipcodeCtrl.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-input formControlName="address" inputmode="text" type="text" placeholder="Endereço"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.address">
      <ng-container *ngIf="addressCtrl.hasError(error.type) && (addressCtrl.dirty || addressCtrl.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Profissional da Saúde</ion-label>
      <ion-select formControlName="professional" interface="action-sheet" cancel-text="Cancelar">
        <ion-select-option value="1">Sim</ion-select-option>
        <ion-select-option value="0">Não</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngFor="let error of errorMessages.professional">
      <ng-container
        *ngIf="professionalCtrl.hasError(error.type) && (professionalCtrl.dirty || professionalCtrl.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item *ngIf="professionalCtrl.value == 1">
      <ion-label>Qual sua especialidade?</ion-label>
      <ion-select formControlName="type" interface="action-sheet" cancel-text="Cancelar">
        <ion-select-option *ngFor="let speciality of professionalSpeciality" value="{{speciality.value}}">
          {{speciality.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" [disabled]="!this.registrationForm.valid" color="danger">Cadastrar</ion-button>
    <p>
      <a [routerLink]="['/login']">
        << Voltar </a>
          <br />
    </p>
  </form>
</ion-content>